body{font-family: helvetica;
}

span {
	color: white;
}

a {color: black;}

h1{
	background-color: white;
	text-align: center;
	font-size: 30px;
	color:black;
}

p{
	background-color: black;
	color:white;
	font-size: 20px}

